.content {
  margin: 0;
  height: 93vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 4fr 1fr 2fr;
  grid-template-areas:
    "profilePhoto profileData ."
    "profileName profileData ."
    "profileFamily profileData profileButton";
  background-color: #f3f2f2;
}

.profilePhoto {
  grid-area: profilePhoto;
  background-image: linear-gradient(to bottom, #1971c2, #2596be);
}

.profilePhotoImg {
  background: url("medias/profileTest.jpg") 50% 50% no-repeat;
  max-height: 60%;
  border-radius: 50%;
  margin: auto;
  margin-top: 15%;
  aspect-ratio: 1/1;
  border: 1px solid black;
  box-shadow: 0px 2px 20px 0px whitesmoke;
}

.profileData {
  grid-area: profileData;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileDataForm {
  width: 75%;
}

.profileData label,
.profileData input,
.profileData select {
  display: block;
  margin: 4% 0px;
}

.profileData label {
  font-size: 1.2rem;
}

.profileData input,
.profileData select {
  line-height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #1971c2;
  width: 70%;
  font-size: 1.1rem;
  padding: 0 1%;
  overflow: scroll;
}

.profileData select {
  height: 2.5rem;
}

.profileData option {
  overflow: scroll;
}

.profileName {
  grid-area: profileName;
  background-color: #2596be;
  color: #fff;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  text-align: center;
}

.profileFamily {
  grid-area: profileFamily;
  background-color: #2596be;
  color: #fff;
  font-size: 2.1em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  word-break: break-all;
  text-align: center;
}

.profileButton {
  grid-area: profileButton;
  padding-top: 10%;
  padding-left: 3%;
}

.profileButton > button {
  cursor: pointer;
  color: #fff;
  background-color: #1971c2;
  border-color: #1971c2;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.7rem;
}

.profileButton > button:hover {
  color: #fff;
  background-color: #2596be;
  border-color: #2596be;
}

/* night theme */
.night {
  background: #272b33;
  background-color: #0a0c10;
  color: lightgray;
  transition: 0.5s;
}

.profileTopLeftNight {
  background-image: linear-gradient(to bottom, #272b33, #515459);
  transition: 0.5s;
}

.profileLeftNight {
  background-color: #515459;
  transition: 0.5s;
}

.profileInputNight,
.profileSelectNight {
  background-color: #0a0c10;
  border: 1px solid whitesmoke !important;
  color: lightgray;
}

.profileButtonNight {
  background-color: #515459 !important;
  border-color: #515459 !important;
}

/* mobile view */
@media only screen and (max-width: 550px) {
  .profilePhoto,
  .profileName,
  .profileFamily {
    display: none;
  }

  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.3fr;
    grid-template-areas:
      "profileData"
      "profileButton";
  }

  .profileButton {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0;
  }
}

@media only screen and (max-height: 450px) {
  .profileData input,
  .profileData select {
    padding: 0 3%;
    margin: 0 0;
    line-height: 1rem;
    max-height: 1.5rem;
  }

  .profileData label {
    font-size: 1rem;
    margin: 0 0;
  }

  .profileButton {
    padding: 0 0;
  }
}
