.reportBase {
  background-color: #f3f2f2;
}

.reportContent {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "reportData" "reportButton";
  height: 93vh;
  width: 50%;
  margin-left: 15%;
  margin-right: 35%;
}

.reportData {
  grid-area: reportData;
  background-color: aqua;
}

.reportDataForm {
  width: 100%;
}

.reportSenderLabel {
  display: block;
}

.reportSender label,
.reportSender select,
.reportSender textarea {
  display: block;
}

.reportButton {
  grid-area: reportButton;
  background-color: brown;
}
